.game--body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'header header header' 'main main aside';
    height: 100%;
    /* width: 100vw; */
    color: #FFF;
    width: 100%;
}

.game__header {
 grid-area: header;
 display: flex;
 justify-content: space-between;
 height: 10vh;
}

main {
 grid-area: main;
 padding: 0 20px 20px 20px;
 height: 90vh;
}

aside {
 grid-area: aside;
}

.game--name--startover {
    display: flex;
    align-items: center;
}

.game--logo--title__div {
    display: flex;
    align-items: center;
    width: 70%;
}

.game--logo {
    height: 100%;
    width: auto;
}
  
.game--title {
    color: black;
    font-size: 70px;
    margin: 0;
}

.game--name--startover {
    align-items: flex-start;

}

.game--name__h3--text {
    margin: 0;
    color: orange;
    text-shadow: 2px 2px black;
    font-size: 30px;
}

.game--startover--button {
    
}