.round__section {
    background: rgba(245, 245, 245, 0.85);
    /* padding: 0 10%; */
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #505050, 0 6px 20px 1px #505050;
    /* padding-top: 3%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'column1 column2';
}

.completedWord__container {
    border-radius: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 0 4px 8px 0 #505050, 0 6px 20px 1px #505050;
    color: black;
    padding: 5px 10px;
}

.compltedword--word--definition {
    display: flex;
    justify-content: space-between;
}

.completedWord__p--word {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.completedWord__p--pos {
    color: #505050;
    font-style: italic;
    margin: 0;
}

.completedWord__p--def {
    margin: 0;
}

.completedWord__p--sentence {
    margin-bottom: 0;
}

.prefix-guess {
    grid-area: column1;
    border-right: 2px solid black;
}

.root-guess {
    grid-area: column2;
}

.prefix-guess,
.root-guess {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}

.prefix--root--title {
    color: black;
    border-bottom:1px solid black;
}