.startEndGame__section {
    background: rgba(85, 84, 84, 0.75);
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
}

.header {
    grid-area: header;
    height: 10vh;
    display: flex;
}

.startEndGame__container {
    display: flex;
    justify-content: center;
    height: 90%;
    align-items: center;
}

.startEndGame__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squid-mountain_logo {
    height: 100%;
    width: auto;
}

.game--title {
    color: #fff;
    font-size: 70px;
    margin: 0;
}

.rules__p {
    color: #fff;
}
