.playing--card__div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
    background-color: #FFF;
    margin-bottom: 5%;
    height: 16%;
}

.selected--card {
    border: 5px solid blue;
    box-shadow: 0 4px 8px 0 #505050, 0 6px 20px 1px #505050;
}

.correct--card {
    border: 5px solid rgb(8, 219, 8);
    box-shadow: 0 4px 8px 0 #505050, 0 6px 20px 1px #505050;
}

.hide--card__div {
    display: none;
}

.incorrect--card {
    border: 5px solid red;
}

.playing--card__div:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 #505050, 0 6px 20px 1px #505050;
}

.playing--card__p--text {
    color: black;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    line-height: 40px;
    text-align: center;
}